#root {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.header {
  border: solid;
  border-radius: 8px;
  border-color: white;
  margin-bottom: 10px;
  background-color: blueviolet;
}

.footer {
  color: #888;
  border: solid;
  border-radius: 8px;
  border-color: 888;
  margin-bottom: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.home {
  border: solid;
  border-radius: 8px;
  border-color: red;
  margin-bottom: 10px;
}

.bio {
  border: solid;
  border-radius: 8px;
  border-color: red;
  margin-bottom: 10px;
}
.bio-list {
  text-align: left;
  align-content: normal;
  padding: 20px;
}

.projects {
  border: solid;
  border-radius: 8px;
  border-color: lime;
  margin-bottom: 10px;
}
.single-project {
  border: solid;
  border-radius: 8px;
  border-color: darkblue;
  margin-bottom: 10px;
}
.skills {
  border: solid;
  border-radius: 8px;
  border-color: orange;
  margin-bottom: 10px;
}
.contact {
  border: solid;
  border-radius: 8px;
  border-color: skyblue;
  margin-bottom: 10px;
}
.contact-container {
  display: inline-block;
  min-width: 300px;
  max-width: 400px;
  height: 100px;
  padding: 20px;
  margin: 10px;
  border: solid;
  border-radius: 8px;
  border-color: red;
  margin-bottom: 10px;
  text-align: left;
}
.contact-title {
  font-weight: bold;
}

ul {
  list-style-type: none;
  padding: 10px;
}

.nav-bar {
  border: solid;
  border-radius: 8px;
  border-color: skyblue;
}
.nav-bar li {
  float: center;
  display: inline;
  text-align: center;
  padding: 3%;
  text-decoration: none;
}
